/* 全体に適用するスタイル */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #181818;
}

/* ボタンの基本スタイル */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
